body {
  font-family: 'Raleway', sans-serif;;
  font-size: 16px; }

.newsletter-area{
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.footer_area{
  background-color: #7028e4;
}

.footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link:hover {
    color: #e5b2ca;
}

.single-products-catagory a::after{
  text-shadow: none;
}

.single-products-catagory .hover-content h4{
  text-shadow: 2px 2px 4px white;
}
