body {
  font-family: 'Raleway', sans-serif;;
  font-size: 16px; }

.newsletter-area{
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}

.footer_area{
  background-color: #7028e4;
}

.footer_area .single_widget_area .footer_menu .navbar-nav .nav-item .nav-link:hover {
    color: #e5b2ca;
}

.single-products-catagory a::after{
  background-color: rgba(112, 40, 228, 0.7);
}

.single-products-catagory:hover .hover-content p, .single-products-catagory:hover .hover-content h4,
.single-products-catagory:focus .hover-content p, .single-products-catagory:focus .hover-content h4{
  color: white;
}


.single-products-catagory .pic-norm, .single-products-catagory .pic-norm{
  opacity:1;
  transition:all .3s ease-out 0s;
}

.single-products-catagory:hover .pic-norm, .single-products-catagory:focus .pic-norm{
  opacity:1;
}

.single-products-catagory .pic-alt, .single-products-catagory .pic-alt{
  opacity:0;
  position:absolute;
  top:0;left:0;
  transition:all .3s ease-out 0s;
}

.single-products-catagory:hover .pic-alt, .single-products-catagory:focus .pic-alt{
  opacity:1;
}


.badge-secondary{
  display:block;
  position:absolute;
  top:50px;
  right:0;
}


.switch{
    display: none;
    position: absolute;
    top: 250px;
    left: 0;
}

.single-products-catagory:hover .hover-content .switch, .single-products-catagory:focus .hover-content .switch{
   display: block;
}



/*--
.single-products-catagory .add-more{
  width:150px;
  padding:0;
  margin:0;
  list-style:none;
  opacity:0;
  transform:translateY(-50%) translateX(-50%);
  position:absolute;
  top:60%;
  left:50%;
  z-index:1;
  transition:all .3s ease 0s;
}

.single-products-catagory:hover .add-more {
  opacity:1;
  top:50%;
}

.single-products-catagory .add-more li{
  display:inline-block;
}

.single-products-catagory  .add-more li a{
  color: black;
  background-color:#650d88;
  font-size:16px;
  line-height:40px;
  text-align:center;
  height:40px;
  width:40px;
  margin:0 2px;
  display:block;
  position:relative;
  transition:all .3s ease-in-out;
}

.single-products-catagory .add-more li a:hover{
  color: white;
  background-color:#650d88;
}

.single-products-catagory .add-more li a::after,
.single-products-catagory .add-more li a::before{
  color: white;
  background-color:#650d88;
  font-size:12px;
  letter-spacing:1px;
  line-height:20px;
  padding:1px 5px;
  white-space:nowrap;
  opacity:0;
  transform:translateX(-50%);
  position:absolute;
  left:50%;
  top:-30px;
}

.single-products-catagory .add-more li a::after{
  content:'';
  height:15px;
  width:15px;
  border-radius:0;
  transform:translateX(-50%) rotate(45deg);
  top:-20px;
  z-index:-1;
}

.single-products-catagory .add-more li a:hover::after,
.single-products-catagory .add-more li a:hover::before{
  opacity:1;
}
--*/




/*--
.single-products-catagory a::after{
  text-shadow: none;
}

.single-products-catagory .hover-content h4{
  text-shadow: 2px 2px 4px white;
}
--*/
